# Dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite

# Coverage
coverage/

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
/src/prisma
